*.suo
*.user
bin/
obj/
build/config.make
build/deps/*
*.exe
*.pdb
*.mdb
*.dll
tmp
testoutput/
vbnc/vbnc/version.tmp
*.pidb
*.usertasks
*.userprefs
class/lib/monotouch
class/lib/moonlight
class/lib/monodroid
class/lib/net_2_0
class/lib/net_4_0
class/lib/net_4_5
scripts/vbnc
scripts/vbnc2
