<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rt.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log in Windows Forms projects.-->
            <source name="Microsoft.VisualBasic.MyServices.Log.WindowsFormsSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="System.Diagnostics.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.1200.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <rt.My.MySettings>
            <setting name="HostedTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContinuousTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestsListView_colName_Width" serializeAs="String">
                <value>207</value>
            </setting>
            <setting name="TestsListView_colCompiler_Width" serializeAs="String">
                <value>207</value>
            </setting>
            <setting name="TestsListView_colResult_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TestsListView_colFailedVerification_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="txtBasePath_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtVBNCCompiler_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtVBCCompiler_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="TestsListView_colDate_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestsListView_colPath_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ModifyRegistry" serializeAs="String">
                <value />
            </setting>
            <setting name="DontTestIfNothingHasChanged" serializeAs="String">
                <value>False</value>
            </setting>
        </rt.My.MySettings>
    </userSettings>
</configuration>